@* Define the model *@
@model Actor;

@* Define ViewData *@
@{
    ViewData["Title"] = "Actor Details";
}

@* Write the HTML code *@
<div class="text-center">
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url(https://www.bhmpics.com/downloads/animated-svg-wallpaper/3.motion-background.svg)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1> Information about </h1>
                                <h1> @Model.FullName </h1>
                                <div class="form-group text-center pad">
                                    <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 200px" />
                                </div>
                                <div class="form-group pad">
                                    <label asp-for="ProfilePictureUrl" class="control-label"></label>
                                    <input asp-for="ProfilePictureUrl" class="form-control" readonly />
                                    <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group pad">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input asp-for="FullName" class="form-control" readonly />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group pad">
                                    <label asp-for="Bio" class="control-label"></label>
                                    <textarea asp-for="Bio" class="form-control" readonly></textarea>
                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                </div>
                                <div class="form-group pad">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                    }
                                    <a class="btn btne-secondary" asp-action="Index">Show All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureUrl").val();
        })

    </script>
}