@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center">
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url(https://i.pinimg.com/originals/e1/b9/c5/e1b9c5f696d6f136c3eca1b26ac8c846.gif)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>Congratulations! You've reached nothing!</h1>
                                <hr />
                                <p>
                                    Go to the <a asp-controller="Home" asp-action="Index">Home Page</a>. Maybe you'll find something there... maybe not.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>