@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url(https://media.licdn.com/dms/image/D4D12AQEGOY4waZsKvg/article-cover_image-shrink_720_1280/0/1696854232803?e=2147483647&v=beta&t=-ggeWptOqx5MRBFiIWntoIql-b1uMkoJEi1GSzW5OhE)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h1>Get out, mate. You are not authorized.</h1>
                                <hr />
                                <p>
                                    Go to the <a asp-controller="Home" asp-action="Index">Home Page</a>. Maybe you'll have a little luck there.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>